<script>
  import Thing from "../../../components/thing.svelte";

  let user = {
    firstname: "Ada",
    lastname: "Lovelace",
  };
</script>

<svelte:head>
  <title>Example</title>
</svelte:head>

{{content | safe}}